{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
    <a class="btn btn-floating btn-large cyan pulse center" href="{{ path("lemnia_customer_portal_homepage") }}"><i class="material-icons">home</i></a>
{% endblock fos_user_content %}
