<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('materialize/css/materialize.min.css') }}">
    </head>
    <body style="height: 0;">
        {% block body %}{% endblock %}
        <script type="text/javascript" src="{{ asset('jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('materialize/js/materialize.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
