{% extends 'base.html.twig' %}

{% block title %}
Licenses et abonnements - Portail utilisateur LEMNIA
{% endblock %}

{% block body %}
    <!--Contenu de la page-->
    <main class="main-content row">
        <h3>Vos licenses et abonnements</h3>
        <section class="col s12 l12">
            <div class="row co_statusCardRowContainer">

                <div class="col s12 m4">
                    <div class="white co_statusCard z-depth-1">
                        <div class="co_statusCardCirleIcon green lighten-5">
                            <i class="material-icons green-text text-lighten-3">check</i>
                        </div>
                        <div class="co_statusCardTextContent">
                            <span class="black-text text-lighten-1">2</span>
                            <span class="grey-text text-lighten-1" style="font-size: 14px">Date de fin de validité lointaine</span>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="white co_statusCard z-depth-1">
                        <div class="co_statusCardCirleIcon yellow lighten-4">
                            <i class="material-icons amber-text text-lighten-3">hourglass_empty</i>
                        </div>
                        <div class="co_statusCardTextContent">
                            <span class="black-text text-lighten-1">2</span>
                            <span class="grey-text text-lighten-1" style="font-size: 14px">Date de fin de validité proche</span>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="white co_statusCard z-depth-1">
                        <div class="co_statusCardCirleIcon red lighten-4">
                            <i class="material-icons red-text text-lighten-3">warning</i>
                        </div>
                        <div class="co_statusCardTextContent">
                            <span class="black-text text-lighten-1">2</span>
                            <span class="grey-text text-lighten-1" style="font-size: 14px">Date de fin de validité dépassé</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <!--Affichage du tableau-->

                
            </div>
        </section>
    </main>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; overflow-x: hidden; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    
    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }

</style>
{% endblock %}
