{% extends 'base.html.twig' %}

{% block title %}
Assistance - Portail utilisateur LEMNIA
{% endblock %}

{% block body %}
    <!--Contenu de la page-->
    <main class="main-content row">
        <h3>Assistance</h3>
        <section class="col s12 l12">
            <div class="row">
                <!--Affichage du tableau de tout les utilisateurs-->
                <h5 class="page_title">Assistance</h5>
                <div class="white_middle">
                    <h6 class="secondary_title">Vous rencontrez un problème? Contactez nous.</h6>
                    <form class="formulaire_assistance">
                        <div class="left_side">
                            <select class="select_assistance" name="select_priorities">
                                <option class="option_assitance" selected value="none_selection">Selectionnez</option>
                                <option class="option_assitance" value="low_priority">Priorité basse</option>
                                <option class="option_assitance"  value="basic_priority">Priorité normale</option>
                                <option class="option_assitance"  value="high_priority">Priorité élevée</option>
                                <option class="option_assitance"  value="urgent_priority">Priorité majeure</option>
                            </select>
                            <input class="input_assistance" type="text" size="30" value="Votre nom" onclick="javascript:this.value = '';" />
                            <input class="input_assistance" type="text" size="30" value="Votre prénom" onclick="javascript:this.value = '';" />
                            <input class="input_assistance" type="email" size="30" value="Votre mail" onclick="javascript:this.value = '';" />
                            <input class="input_assistance" type="tel" size="30" value="Votre télèphone" onclick="javascript:this.value = '';" />
                            <input class="input_assistance" type="text" size="30" value="Votre job" onclick="javascript:this.value = '';" />
                        </div>
                        <div class="right_side">
                            <input class="input_assistance" type="text" size="30" cols="2" value="Objet" onclick="javascript:this.value = '';" />
                            <textarea class="textarea_assistance" rows="5" cols="50"onclick="javascript:this.value = '';" >Votre message ici</textarea>
                            <input class="submit_assistance" type="submit" value=" Envoyer ">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; overflow-x: hidden; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }
    
    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }

</style>
{% endblock %}
