@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    font-family: 'Poppins', sans-serif;
}

/*-- Header Portail -- */

header nav a{ color: black!important; }

.main-content{
    width: calc(100vw - 300px);
    margin-left: 300px!important;
    top: 64px;
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
}

#sidenav-overlay{
    width: 100vw;
    z-index: 4!important;
    background-color: rgba(0,0,0,0.7)!important;
}


/* -----------------------  NAV BAR ELEMENT --------------------- */
#co_companyName_header{
    margin-right:20px;
}

.co_verticalDivider_header{
    width:2px;
    height:40px;
    margin:0 10px;
}

/* right nav menu */
#co_rightNavMenu_header{
    display:flex;
    flex-direction:row-reverse;
    align-items: center;
    margin-right:10px;
}

/* all child of right nav menu */
 #co_rightNavMenu_header>*:not(:first-child){
     padding:0 10px;
 }

 #co_rightNavMenu_header>*:not(:first-child):hover{
     cursor:pointer;
 }

 /* notifications button */
 #co_rightNavNotifications_header{
    position:relative;
 }

/* notifications circle */
 #co_notificationCircle_header{
     position:absolute;
     top:25%;
     right:0;
     width:10px;
     height:10px;
     border-radius:50%;
 }

 /* nav icons */
.co_iconRightNav_header{
    position:relative;
    margin:0;
}

/* Notification block */
 #co_notificationBlock_header{
     position:absolute;
     width:400px;
     height:500px;
     right:0;
     top:80%;
     display:none;

 }

/* all p of notification tab */
#co_notificationBlock_header p{
    margin:0;
    padding:0;
}
 /* notification tab header */
#co_notificationBlock_header>p{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:15%;
    font-size:18px;
}

/* notification list */
#co_allNotificationsBlock_header{
    height:85%!important;
    overflow-y: scroll;
}

/* all element of notification list */
#co_allNotificationsBlock_header>*{
    border-bottom: 1px solid #DDDDDD;
}

/* one notification */
.co_oneNotification_header{
    height:18%;
    display : flex;
    flex-direction: row;
    padding:15px 20px;
    align-items: center;
}

.co_oneNotification_header:hover{
    background-color:#EEEEEE;
}

/* colored circle for one notification */
.co_oneNotificationCircle_header{
    position: relative;
    border-radius: 50%;
    width: 20px;
    height:20px;
    margin-right:20px;
}

/* one notification content */
.co_notificationInfo_header{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:100%;
}

/* Notification title */
.co_notificationInfoTitle_header{
    font-size:14px;
    margin:0;
    padding:0;
    height:auto;
    line-height: 14px;
}

/* Notification Description */
.co_notificationInfoDesc_header{
    font-size:12px;
    margin:0;
    padding:0;
    height:auto;
    line-height: 12px;
}

/*Menu vertical en grand écran*/

.er_vertical-menu_header, .er_side-nav{
    top: 0;
    z-index: 1;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    height: calc(100% - 36px)!important; /*taille du menu a modifier en configuration de prod*/
    transition-duration: 1s;
    background-color: #25262C!important;
}

.er_vertical-bar_header i, .er_side-nav i{
    font-size: 20px!important;
    margin-right: 15px;
}

.er_vertical-bar_header{
    font-size: 20px;
}

.er_vertical-link_header{
    display: flex!important;
    flex-direction: row;
    line-height: 25px!important;
    width: 300px;
    padding-left: 26px;
}

.er_vertical-link_header:hover{
    border-left: solid 4px #039be5;
}

.er_logo-entreprise_header{
    filter: brightness(1.2);
}

.er_user_header{
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.er_user_header img{
    width: 100px;
    margin-bottom: -25px;
}

.er_disconnect_header{
    left: 30px!important;
    margin: 0!important;
    width: 240px;
    height: 56px!important;
    line-height: 56px!important;
    position: absolute!important;
    bottom: 30px!important;
}

@media only screen and (max-width: 992px) {
    .main-content{
        width: 100vw;
        margin-left: 0!important;
    }
}

/* -- Table responsive liste des utilisateurs -- */

.er_dropdown-user_listuser{
    width: 240px!important;
}

.dataTables_wrapper select{
    display: block!important;
}

@media only screen and (max-width : 1080px) {
    .er_hide-column_listuser{
        display: none!important;
    }

    .er_show-column_listuser{
        display: block!important;
    }
}


/* -- Table de factures -- */

.er_pagination_bill{
    display: inline-block;
    vertical-align: top;
}

.er_elem-number_bill{
    padding-top: 18px!important;
    height: 30px;
}

.er_elem-table_bill tr:hover .er_chips-action{
    visibility: visible!important;
}

/* -- Classes utilisées pour le modal de payment, réutilisables ailleurs -- */

    .er_type-payment{
        margin-left: 15px;
    }

    #container-card tbody tr:hover, #container-sepa tbody tr:hover{
        background-color: #e1f5fe!important;
    }

    .er_hide-container{
        display: none;
    }

    #container-sepa table th, #container-sepa table td{
        display: flex!important;
        flex-direction: column!important;
    }

    #container-sepa table tr{
        display: inline-block!important;
    }

    .er_payment-action{
        border-radius: 46px;
        width: 100%;
        margin-top: -10px!important;
    }

    .er_payment-action .btn{
        margin: 3%!important;
    }

    .er_next-tab-payment{
        border-radius: 18px!important;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .er_hide-tab{
        display: none;
    }

    .er_cgv-payment{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        height: 360px!important;
    }

    .er_validate-cgv_checkbox{
        margin-left: 5%;
    }

    .er_payment-done_icon{
        position: relative;
        margin-top: 30px;
        background-image:linear-gradient(-30deg, white, #29b6f6);
    }

    .er_payment-done_icon:before{
        content: "";
        display: block;
        padding-top: 100%;
    }

    .er_payment-done_icon i{
        position: absolute;
        top: 0;
        left: 0;    
        font-size: 6vw;
        padding: 25%;
        width: 100%;
        height: 100%;
    }

    @media only screen and (min-width: 602px) and (max-width: 992px) {
        .er_payment-done_icon i{   
            font-size: 10vw;
        }
    }

    @media only screen and (max-width: 602px) {
        .er_payment-done_icon i{   
            font-size: 15vw;
        }
    }

    .er_price-payment{
        margin-top: 15px;
        margin-bottom: 10px;
    }


.er_payment-action{
    border-radius: 46px;
    width: 100%;
    margin-top: -10px!important;
}

.er_payment-action .btn{
    margin: 3%!important;
}

.er_next-tab-payment{
    border-radius: 18px!important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.er_hide-tab{
    display: none;
}

.er_cgv-payment{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 360px!important;
}

.er_validate-cgv_checkbox{
    margin-left: 5%;
}

.er_payment-done_icon{
    position: relative;
    margin-top: 30px;
    background-image:linear-gradient(-30deg, white, #29b6f6);
}

.er_payment-done_icon:before{
    content: "";
    display: block;
    padding-top: 100%;
}

.er_payment-done_icon i{
    position: absolute;
    top: 0;
    left: 0;    
    font-size: 6vw;
    padding: 25%;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 602px) and (max-width: 992px) {
    .er_payment-done_icon i{   
        font-size: 10vw;
    }
}

@media only screen and (max-width: 602px) {
    .er_payment-done_icon i{   
        font-size: 15vw;
    }
}

.er_price-payment{
    margin-top: 15px;
    margin-bottom: 10px;
}


/* -- Table des commandes -- */

.er_fab-toolbar_indent .er_fab-action_indent{
    position: inherit;
    width: 200px!important;
}

.er_fab-toolbar_indent .er_fab-action_indent ul{
    position: inherit;
    height: 10px!important;
    width: 120px!important;
}

.er_fab-toolbar_indent{
    width: 200px!important;
}
/****************************************************************************************************************************************/
    /**//**//**//**//**/
            /**/        /* -- Appliqué sur toutes les pages utilisant un tableau -- */
            /**/
            /**/        .er_chips-status{
            /**/            width: 125px;
            /**/        }
            /**/
            /**/        .er_table-container{
            /**/            padding: 30px!important;
            /**/        }
            /**/
            /**/        #container-card .er_table-container{
            /**/            margin-top: 0;
            /**/        }
            /**/
            /**/        #container-sepa .er_table-container{
            /**/            margin-top: 0;
            /**/        }
            /**/
            /**/        .er_chips-action{
            /**/            visibility: hidden;
            /**/        }
            /**/
            /**/        .er_chips-action:hover{
            /**/            box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
            /**/            transition-duration: 0.5s;
            /**/        }
            /**/
            /**/        .er_icon-action{
            /**/            margin-top: 4px!important;
            /**/        }
            /**/
            /**/        @media only screen and (min-width : 992px) and (max-width : 1220px) {
            /**/            .er_icon-action{
            /**/                display: none!important;
            /**/            }
            /**/        }
    /**//**//**//**//**/        
/****************************************************************************************************************************************/

/*------------------------------- Contenu Corentin---------------------------------*/

.co_statusCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    padding:30px;
    border-radius: 2px;
}

.co_statusCardCirleIcon{
    width:50px!important;
    height:50px!important;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.co_statusCardTextContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*------------------------------- Fin Contenu Corentin---------------------------------*/

/****************************************************************************************************************************************/

/*------------------------------- Contenu Andrei---------------------------------*/
.page_title{
    font-family: sans-serif;
    font-size: 1.5em;
}

.white_middle{ 
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 800px;
    height: 700px;
}

.secondary_title{
    font-family: sans-serif;
    font-size: 0.9em;
    margin-bottom: 100px;
}

.left_side{
    display: flex;
    flex-direction: column;
    order:1;
}

.right_side{
    display: flex;
    flex-direction: column;
    order: 2;
}

form{
    display: flex;
    justify-content: space-around;
}

.input_assistance{
    margin-bottom: 30px;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    color:#CCCCCC;
}

.input_assistance:focus{
    outline: none;
}

.select_assistance:focus{
    outline: none;
}

.textarea_assistance:focus{
    outline: none;
}

.submit_assistance:focus{
    outline: none;
}

.select_assistance{
    margin-bottom: 20px;
    border-radius: 20px;
    width: 120px;
    color: #CCCCCC;
}

.submit_assistance{
    margin-top: 40px;
    background-color: #0199D1;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 130px;
}

.textarea_assistance{
    color:#CCCCCC;
    border-color: #CCCCCC;
}

@media only screen and (max-width: 800px) {
    .white_middle{
        display: flex;
        flex-direction: column;
    }
}

/*------------------------------- Fin Contenu Andrei---------------------------------*/

