{% extends 'base.html.twig' %}

{% block title %}
    Assistance - Portail utilisateur LEMNIA
{% endblock %}

{% block body %}
    <!-- page content -->
    <main class="main-content row">
        <h3>Contacts</h3>
        <section class="col s12 l12">
            <div class="row">
                <!-- Display all contacts of current users -->

                <!-- One contact -->
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-action">
                            <div class="co_contactInfoBlock_contacts">
                                <div class="co_contactInfoTopBlock_contacts">
                                    <div class="co_nameCircle">
                                        <p class="white-text" style="font-size: 22px">JB</p>
                                    </div>
                                    <div class="co_contactInfoTopBlockText_contacts">
                                        <p class="grey-text text-darken-2" style="font-size: 16px">Jean Michel GARNIER</p>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">Comptable</p>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">WFSN Industrie & Co</p>
                                    </div>
                                </div>
                                <div class="co_contactInfoMiddleBlock_contacts">
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1" style="font-size: 12px">email</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">jeanmichelgarnier@gmail.com</p>
                                    </div>
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1" style="font-size: 12px">phone</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">06 45 56 67 78</p>
                                    </div>
                                </div>
                            </div>
                            <a class="btn-floating halfway-fab waves-effect waves-light light-blue darken-1"><i class="material-icons" style="font-size:18px">edit</i></a>
                        </div>
                        <div class="card-content grey lighten-4">
                            <p class="grey-text text-darken-2"style="font-size: 14px">Accès</p>
                            <p class="grey-text text-lighten-1" style="font-size: 12px">Tous</p>
                        </div>
                    </div>
                </div>


                <!-- One contact -->
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-action">
                            <div class="co_contactInfoBlock_contacts">
                                <div class="co_contactInfoTopBlock_contacts">
                                    <div class="co_nameCircle">
                                        <p class="white-text" style="font-size: 22px">JB</p>
                                    </div>
                                    <div class="co_contactInfoTopBlockText_contacts">
                                        <p class="grey-text text-darken-2" style="font-size: 16px">Jean Michel GARNIER</p>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">Comptable</p>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">WFSN Industrie & Co</p>
                                    </div>
                                </div>
                                <div class="co_contactInfoMiddleBlock_contacts">
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1" style="font-size: 12px">email</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">jeanmichelgarnier@gmail.com</p>
                                    </div>
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1" style="font-size: 12px">phone</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">06 45 56 67 78</p>
                                    </div>
                                </div>
                            </div>
                            <a class="btn-floating halfway-fab waves-effect waves-light light-blue darken-1"><i class="material-icons" style="font-size:18px">edit</i></a>
                        </div>
                        <div class="card-content grey lighten-4">
                            <p class="grey-text text-darken-2"style="font-size: 14px">Accès</p>
                            <p class="grey-text text-lighten-1" style="font-size: 12px">Tous</p>
                        </div>
                    </div>
                </div>


                <!-- One contact -->
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-action">
                            <div class="co_contactInfoBlock_contacts">
                                <div class="co_contactInfoTopBlock_contacts">
                                    <div class="co_nameCircle">
                                        <p class="white-text" style="font-size: 22px">JB</p>
                                    </div>
                                    <div class="co_contactInfoTopBlockText_contacts">
                                        <p class="grey-text text-darken-2" style="font-size: 16px">Jean Michel GARNIER</p>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">Comptable</p>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">WFSN Industrie & Co</p>
                                    </div>
                                </div>
                                <div class="co_contactInfoMiddleBlock_contacts">
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1" style="font-size: 12px">email</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">jeanmichelgarnier@gmail.com</p>
                                    </div>
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1" style="font-size: 12px">phone</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">06 45 56 67 78</p>
                                    </div>
                                </div>
                            </div>
                            <a class="btn-floating halfway-fab waves-effect waves-light light-blue darken-1"><i class="material-icons" style="font-size:18px">edit</i></a>
                        </div>
                        <div class="card-content grey lighten-4">
                            <p class="grey-text text-darken-2"style="font-size: 14px">Accès</p>
                            <p class="grey-text text-lighten-1" style="font-size: 12px">Tous</p>
                        </div>
                    </div>
                </div>


                <!-- One contact -->
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-action">
                            <div class="co_contactInfoBlock_contacts">
                                <div class="co_contactInfoTopBlock_contacts">
                                    <div class="co_nameCircle">
                                        <p class="white-text" style="font-size: 22px">JB</p>
                                    </div>
                                    <div class="co_contactInfoTopBlockText_contacts">
                                        <p class="grey-text text-darken-2" style="font-size: 16px">Jean Michel GARNIER</p>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">Comptable</p>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">WFSN Industrie & Co</p>
                                    </div>
                                </div>
                                <div class="co_contactInfoMiddleBlock_contacts">
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1" style="font-size: 12px">email</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">jeanmichelgarnier@gmail.com</p>
                                    </div>
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1" style="font-size: 12px">phone</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">06 45 56 67 78</p>
                                    </div>
                                </div>
                            </div>
                            <a class="btn-floating halfway-fab waves-effect waves-light light-blue darken-1"><i class="material-icons" style="font-size:18px">edit</i></a>
                        </div>
                        <div class="card-content grey lighten-4">
                            <p class="grey-text text-darken-2"style="font-size: 14px">Accès</p>
                            <p class="grey-text text-lighten-1" style="font-size: 12px">Tous</p>
                        </div>
                    </div>
                </div>


                <!-- One contact -->
                <div class="col s12 m3">
                    <div class="card">
                        <div class="card-action">
                            <div class="co_contactInfoBlock_contacts">
                                <div class="co_contactInfoTopBlock_contacts">
                                    <div class="co_nameCircle">
                                        <p class="white-text" style="font-size: 22px">JB</p>
                                    </div>
                                    <div class="co_contactInfoTopBlockText_contacts">
                                        <p class="grey-text text-darken-2" style="font-size: 16px">Jean Michel GARNIER</p>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">Comptable</p>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">WFSN Industrie & Co</p>
                                    </div>
                                </div>
                                <div class="co_contactInfoMiddleBlock_contacts">
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1" style="font-size: 12px">email</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">jeanmichelgarnier@gmail.com</p>
                                    </div>
                                    <div class="co_contactOneInfoMiddleBlock_contacts horizontal">
                                        <i class="material-icons grey-text text-lighten-1" style="font-size: 12px">phone</i>
                                        <p class="grey-text text-lighten-1" style="font-size: 12px">06 45 56 67 78</p>
                                    </div>
                                </div>
                            </div>
                            <a class="btn-floating halfway-fab waves-effect waves-light light-blue darken-1 modal-trigger" href="#modalModify"><i class="material-icons" style="font-size:18px">edit</i></a>
                        </div>
                        <div class="card-content grey lighten-4">
                            <p class="grey-text text-darken-2" style="font-size: 14px">Accès</p>
                            <p class="grey-text text-lighten-1" style="font-size: 12px">Tous</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="co_centeredModal">
            <!-- Modal Modify Contact -->
            <div id="modalModify" class="modal co_blueWindowBody col s12 m4">
                <div class="modal-content">
                    <div class="co_blueWindowHeader">
                        <p class="white-text" style="font-size: 18px">Modifier un contact</p>
                        <i class="white-text material-icons modal-action modal-close" style="font-size: 18px">close</i>
                    </div>
                    <div class="co_contactForm_contacts">
                        <!-- blue window add contact name block -->
                        <div class="co_contactNameBlock_contacts">
                            <div class="co_nameCircle z-depth-1" style="background: white">
                                <p class="grey-text text-darken-2" style="font-size: 22px">JB</p>
                            </div>
                            <div class="co_contactInputNameBlock_contacts">
                                <input id="co_firstNameInput_contacts" placeholder="Prénom" type="text" class="co_whiteMaterialInput white-text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Prénom'"/>
                                <label for="co_firstNameInput_contacts"></label>
                                <input id="co_lastNameInput_contacts" placeholder="Nom" type="text" class="co_whiteMaterialInput white-text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nom'" />
                                <label for="co_lastNameInput_contacts"></label>
                            </div>
                        </div>
                        <div class="co_contactInfoBlock">
                            <input id="co_emailInput_contacts" placeholder="Mail" type="email" class="co_whiteMaterialInput white-text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mail'"/>
                            <label for="co_emailInput_contacts"></label>
                            <input id="co_phoneInput_contacts" placeholder="Téléphone" type="text" class="co_whiteMaterialInput white-text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Téléphone'"/>
                            <label for="co_phoneInput_contacts"></label>
                        </div>
                        <div class="co_contactConnectionBlock">
                            <input id="co_loginInput_contacts" placeholder="Login" type="email" class="co_whiteMaterialInput white-text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Login'"/>
                            <label for="co_emailInput_contacts"></label>
                            <input id="co_passwordInput_contacts" placeholder="Mot de passe" type="text" class="co_whiteMaterialInput white-text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mot de passe'"/>
                            <label for="co_phoneInput_contacts"></label>
                        </div>
                        <div class="co_contactAccessBlock">
                            <label for="co_accessSelect_contacts" class="white-text" style="font-size: 14px">Accès</label>
                            <div class="input-field co_whiteMaterialInput">
                                <select id="co_accessSelect_contacts">
                                    <option value="" class="white-text" disabled selected >sélectionner</option>
                                    <option value="1" class="white-text">Factures</option>
                                    <option value="2" class="white-text">Tickets</option>
                                    <option value="3" class="white-text">Tous</option>
                                </select>
                            </div>
                        </div>
                        <div class="co_contactSubmitBlock">
                            <button class="co_roundedButton light-blue darken-1 white-text z-depth-1 modal-action modal-close waves-effect">Modifier le contact</button>
                        </div>
                    </div>

                </div>
            </div>
        </section>



    </main>

    <!-- Fab button with blue window to add a contact -->
    <section id="co_addContactBlock_contacts" class="co_addBlueWindowWithFabBlock">
        <!-- Blue window body -->
        <div id="co_addContactFormBlock_contacts" class="z-depth-1 co_blueWindowBody">
            <!-- blue window header -->
            <div class="co_blueWindowHeader">
                <p class="white-text" style="font-size: 18px">Ajouter un contact</p>
                <i id="co_addContactWindowClose_contacts" class="white-text material-icons" style="font-size: 18px">close</i>
            </div>
            <!-- blue window add contact form -->
            <div class="co_contactForm_contacts">
                <!-- blue window add contact name block -->
                <div class="co_contactNameBlock_contacts">
                    <div class="co_nameCircle z-depth-1" style="background: white">
                        <p class="grey-text text-darken-2" style="font-size: 22px">JB</p>
                    </div>
                    <div class="co_contactInputNameBlock_contacts">
                        <input id="co_firstNameInput_contacts" placeholder="Prénom" type="text" class="co_whiteMaterialInput white-text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Prénom'"/>
                        <label for="co_firstNameInput_contacts"></label>
                        <input id="co_lastNameInput_contacts" placeholder="Nom" type="text" class="co_whiteMaterialInput white-text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nom'" />
                        <label for="co_lastNameInput_contacts"></label>
                    </div>
                </div>
                <div class="co_contactInfoBlock">
                    <input id="co_emailInput_contacts" placeholder="Mail" type="email" class="co_whiteMaterialInput white-text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mail'"/>
                    <label for="co_emailInput_contacts"></label>
                    <input id="co_phoneInput_contacts" placeholder="Téléphone" type="text" class="co_whiteMaterialInput white-text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Téléphone'"/>
                    <label for="co_phoneInput_contacts"></label>
                </div>
                <div class="co_contactConnectionBlock">
                    <input id="co_loginInput_contacts" placeholder="Login" type="email" class="co_whiteMaterialInput white-text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Login'"/>
                    <label for="co_emailInput_contacts"></label>
                    <input id="co_passwordInput_contacts" placeholder="Mot de passe" type="text" class="co_whiteMaterialInput white-text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mot de passe'"/>
                    <label for="co_phoneInput_contacts"></label>
                </div>
                <div class="co_contactAccessBlock">
                    <label for="co_accessSelect_contacts" class="white-text" style="font-size: 14px">Accès</label>
                    <div class="input-field co_whiteMaterialInput">
                        <select id="co_accessSelect_contacts">
                            <option value="" class="white-text" disabled selected >sélectionner</option>
                            <option value="1" class="white-text">Factures</option>
                            <option value="2" class="white-text">Tickets</option>
                            <option value="3" class="white-text">Tous</option>
                        </select>
                    </div>
                </div>
                <div class="co_contactSubmitBlock">
                    <button class="co_roundedButton light-blue darken-1 white-text z-depth-1">Ajouter le nouveau contact</button>
                </div>
            </div>
        </div>
        <div class="co_trickyAlignArrowAndFabDiv">
            <div class="co_blueWindowArrowBottomRight z-depth-1"></div>
            <a id="co_fabAddContact_contacts" class="btn-floating btn-large waves-effect waves-light light-blue darken-1 right"><i class="material-icons">add</i></a>
        </div>
    </section>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/contacts.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; overflow-x: hidden; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
        #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
        #container { padding: 2em; }
        #welcome, #status { margin-bottom: 2em; }
        #welcome h1 span { display: block; font-size: 75%; }
        #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
        #icon-book { display: none; }

        @media (min-width: 768px) {
            #wrapper { width: 80%; margin: 2em auto; }
            #icon-book { display: inline-block; }
            #status a, #next a { display: block; }

            @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
            .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
        }

    </style>
{% endblock %}